.cardBody {
    display: grid;
    grid-template-columns: 60% 1% 39%;
    padding: 2vh;
    border: 5px solid transparent;
    border-radius: 20px;
    background: 
        linear-gradient(to right, white, white), 
        linear-gradient(#e5b25dff, #C84630);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
}

.infoTitle {
    opacity: 0.4;
    font-size: 1.2vw;
}

.studentInfo, .parentInfo {
    text-align: left;
}

.infoName {
    margin-top: 1vh;
    line-height: 50%;
    font-size: 0.6vw;
    opacity: 0.4;
}

.firstLine {
    display: flex;
    gap: 0.5vw;
}

.secondLine {
    display: flex;
    gap: 0.5vw;
}

.infoDivider {
    rotate: 90;
    width: 2px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.4;
}

.parentInfo {
    padding-left: 0.5vw;
}

.alignedInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}